@{
    ViewBag.Title = "About";
}
<body style="background-color:slategray">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Sinema is a responsive movie management application created to assist users in keeping track of their various movie collections. This application was created using ASP.NET MVC Pattern.</p>
</body>