@{
    ViewBag.Title = "Home Page";
}
<body style="background-color:slategray">


    <div class="jumbotron" style="background-color:lightslategrey"> 
        <h1>Welcome.</h1>

        <h2>Millions of movies, TV shows and people to discover. Explore now.</h2>

        <p class="lead">Search for a movie, tv show, person....</p>
        <p><a href="https://localhost:44331/Movie/Search" class="btn btn-primary btn-lg">Begin Search &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Trending</h2>
            <p>
                Checkout what all the hype is about with these popular movies!
            </p>
            <p><a class="btn btn-default" href="https://localhost:44331/Movie/Trending">Trending &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Streaming</h2>
            <p>See a list of movies that are currently streaming</p>
            <p><a class="btn btn-default" href="https://localhost:44331/Movie/Streaming">Streaming &raquo;</a></p>

        </div>
        <div class="col-md-4">
            <h2>In Theaters</h2>
            <p>See a list of movies that are currently in theaters</p>
            <p><a class="btn btn-default" href="https://localhost:44331/Movie/Theaters">In Theaters &raquo;</a></p>
        </div>
    </div>
</body>